.article-list{
  position: relative;
  width: 100%;
  margin: 0 0 1.5rem;
  padding: 1.5rem .2rem 2rem 0;
  border-bottom: 1px solid #f0f0f0;
  word-wrap: break-word;
}
.content {
  padding-right: 16.5rem;
}
.abstract {
  margin: 0 0 .8rem;
  font-size: 1.3rem;
  line-height: 2.4rem;
  color: #999;
}
.title{
    margin: -.7rem 0 .4rem;
    display: inherit;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.5;
}
.wrapImg {
  position: absolute;
  top: 50%;
  margin-top: -6rem;
  right: 0;
  width: 12.5rem;
  height: 10rem;
}
.wrapImg img {
  width: 100%;
  height: 100%;
  border-radius: .4rem;
  border: 1px solid #f0f0f0;
}